/* #text3 {
  background-image: url("https://img.freepik.com/free-photo/background-gradient-lights_23-2149304985.jpg");
  background-size: Cover;
  background-position: Center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
} */
/* .textBody > h1 > img {
  height: 100%;
  width: 100%; */
  /* z-index: -2;
  position: relative;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text; */
  /* background: #000; */
  /* visibility: 50%; */
  /* background-blend-mode: darken;
} */